# Sets the logging level between 1 and 4 where 1=ERROR, 2=WARNING, 3=INFO and
# 4=DEBUG.
logging.level = 4

# If this string is non-empty, an amplitude obtained from an amplitude object
# is used by ... . If this string is "mb", a period obtained from the amplitude
# object is also used; if it has some other value, then 1 [units?] is used. If
# this string is empty, then the amplitude is set to 0.5 * thresholdXXL, and 1
# [units?] is used for the period.
autoloc.amplTypeAbs = snr
